    body {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #333;
    }

    .navbar{
      border-bottom: solid lightgrey;
      position: sticky;
          top: 0%;
          z-index: 9999;
    }
    .navbar-brand img {
      max-height: 50px;
      width: auto;
      height: auto;
      object-fit: contain;
    }
    
    .nav-link {
      color: #000; 
    }
    
    .nav-link:hover {
      color: #ffc107; 
    }
    
    .nav-link.active {
      color: #ffc107 !important;
      font-weight: bold;
    }
    

    /* Banner Section */
    .banner-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 6; /* Maintain aspect ratio */
      overflow: hidden;
    }
    
    .banner-wrapper img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    

    /* Highlights Section */
    .highlight-icon {
      font-size: 40px;
      color: #ffc107;
    }

    .section-title {
      font-weight: bold;
      margin-bottom: 30px;
    }

    /* Team */
    .team-img {
      border-radius: 50%;
      height: 180px;
      width: 180px;
      object-fit: cover;
      margin: 0 auto;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card {
      border: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }

    .card-body h5 {
      margin-top: 15px;
    }

    /* Testimonials */
    .testimonial p {
      font-style: italic;
    }

    .card-body h5{
      color: #ffc107;
    }

    .custom-modal-dialog {
      max-width: 90%;
      width: 20rem; /* Responsive width */
      margin: auto;
    }
    
    .custom-modal-content {
      padding: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border: none;
    }
    
    .modal-icon-wrapper {
      margin-bottom: 1rem;
    }
    
    .modal-icon {
      width: 25%;
      max-width: 4rem; 
      height: auto;
    }
    
    .modal-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    
    .modal-text {
      font-size: 0.9rem;
      color: #6c757d;
      margin-bottom: 1rem;
    }
    
    .modal-button {
      padding: 0.4rem 1.2rem;
      font-size: 0.9rem;
      border-radius: 0.5rem;
    }
    